<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ball PY API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>
<body>
    <div>
        <h1>Welcome to the Ball.PY API</h1>
        <h2>Here are your endpoints:</h2>
        <h3>Get List of All Reptiles</h3>
        <h4>/reptiles</h4>
        <h3>Get a Reptile by ID</h3>
        <h4>/reptiles/id</h4>
        <a href="reptiles/new"><button type="button">Add a New Reptile</button></a>
           
    </div>    
</body>
</html>