<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ball PY API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>
<body>
    <div>
        <h1>Add A Reptile</h1>
        <form action="/reptiles" method="POST" name="new_reptile"> 
         <div class="container">
            <div>
                <label for="name">What is the Name of the Reptile:</label><br>
                <input type="text" name="name" id="name" value="">
            </div>
            <div>
                <label for="reptile_type">What type of reptile is this:</label><br>
                <input type="text" name="reptile_type" id="reptile_type" value="">
                </div>
            <div>    
                <label for="info">Info about this reptile :</label><br>
                <textarea name="info" id="info" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" class="newReptile" value="Submit New Reptile">  
          </div>  
        </form> 
        <a href="/" ><button class="back" type="button">Back to Endpoints</button></a><br>  
    </div>    
</body>
</html>